*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.smallContainer{

}

.bigContainer{
    max-width: 800px;
}

header{
    padding: 1.5rem 1rem;
    background-color: white;
}

ul{
    list-style: none;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
}

header nav ul > li{
    margin-right: 1rem;
}

section.jumbo{
    background-color: #b4d0e7;
    height: 50vh;
    padding-top: 2.5rem;
    padding-bottom:1rem;
}

section.jumbo div.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

section.jumbo

section.jumbo img{
    height: 15rem;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}


thead,tfoot {
    background-color: white;
}

th,td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

.businessTable{
    display: flex;
    flex-direction: row;
}