*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.smallContainer{
    max-width: 900px;
    margin: 0 auto;
}

.bigContainer{
    max-width: 1100px;
    margin: 0 auto;
}

header{
    padding: 1.5rem 1rem;
    background-color: white;
}

ul{
    list-style: none;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
}

header nav ul > li{
    margin-right: 1rem;
}

section.jumbo{
    background-color: #b4d0e7;
    height: 50vh;
    padding-top: 2.5rem;
    padding-bottom:1rem;
}

section.jumbo div.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

section.jumbo

section.jumbo img{
    height: 15rem;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 1rem;
}


thead,tfoot {
    background-color: white;
}

th,td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

#mensile, #annuale{
    padding: 1rem;
}

label{
    padding-right: 2rem;
}

.businessTable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.flexBusinessTable{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.businessTableInput h1{
    padding: 1rem 0;
    margin-left: 0.5rem;
}

.businessTableInput input{
    padding: 1rem 2rem 0 1rm;
    margin-left: 1.1rem;
}

section.partner{
    padding-top: 2.5rem;
    padding-bottom:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.partner img{
    height: 23rem;
    padding: 1rem;
}

section.partner div{
    padding: 1rem;
} 

section.partner h3{
    padding: 1rem 0;
}

section.partner p{
    padding-bottom: 1rem;
}

section.partner button{
    padding: 0.5rem 1rem;
}

section.operazioni h3{
    padding: 3rem 0 2rem 1rem;
}

div.flexOperazioni{
    display: flex;
    justify-content: space-around;
}

div.flexOperazioni img{
    height: 15rem;
}

div.operazioni h4{
    padding: 1rem;
    margin: 0 1rem;
}

div.operazioni p{
    padding: 1rem;
    margin: 0 1rem;
}

section.dropBusiness{
    padding:1rem;
    display: flex;
    flex-direction: column;
}

section.dropBusiness h1{
    padding-top: 7rem;
    padding-bottom: 3rem;
}

section.provaGrat{
    background-color: #b4d0e7;
    height: 20vh;
}

section.provaGrat div{
    padding: 1rem;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.domande{
    padding: 1rem 1rem 7rem 1rem;
}

section.domande h1{
    padding: 5rem 0 3rem 0;
}


section.domande div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
}